<div id="juice" class="card-block">
    <div class="col-sm-4 product-item">
        <a href="#productModal1" class="product-link" data-toggle="modal">
            <div class="caption">
                <div class="caption-content">
                    <i class="fa fa-search-plus fa-3x"></i>
                </div>
            </div>
            <img src="img/product/cabin.png" class="img-responsive" alt="Cabin">
        </a>
    </div>
    <div class="col-sm-4 product-item">
        <a href="#productModal2" class="product-link" data-toggle="modal">
            <div class="caption">
                <div class="caption-content">
                    <i class="fa fa-search-plus fa-3x"></i>
                </div>
            </div>
            <img src="img/product/cake.png" class="img-responsive" alt="Slice of cake">
        </a>
    </div>
    <div class="col-sm-4 product-item">
        <a href="#productModal3" class="product-link" data-toggle="modal">
            <div class="caption">
                <div class="caption-content">
                    <i class="fa fa-search-plus fa-3x"></i>
                </div>
            </div>
            <img src="img/product/circus.png" class="img-responsive" alt="Circus tent">
        </a>
    </div>
    <div class="col-sm-4 product-item">
        <a href="#productModal4" class="product-link" data-toggle="modal">
            <div class="caption">
                <div class="caption-content">
                    <i class="fa fa-search-plus fa-3x"></i>
                </div>
            </div>
            <img src="img/product/game.png" class="img-responsive" alt="Game controller">
        </a>
    </div>
    <div class="col-sm-4 product-item">
        <a href="#productModal5" class="product-link" data-toggle="modal">
            <div class="caption">
                <div class="caption-content">
                    <i class="fa fa-search-plus fa-3x"></i>
                </div>
            </div>
            <img src="img/product/safe.png" class="img-responsive" alt="Safe">
        </a>
    </div>
    <div class="col-sm-4 product-item">
        <a href="#productModal6" class="product-link" data-toggle="modal">
            <div class="caption">
                <div class="caption-content">
                    <i class="fa fa-search-plus fa-3x"></i>
                </div>
            </div>
            <img src="img/product/submarine.png" class="img-responsive" alt="Submarine">
        </a>
    </div>
</div>